/eleadinedu-pc/node_modules/
/eleadinedu-pc/dist/
/eleadinedu-pc/.env.local/
/eleadinedu-pc/.env.development/
/eleadinedu-pc/.env.production/
/eleadinedu-pc/build/

/eleadinedu-h5/node_modules/
/eleadinedu-h5/dist/
/eleadinedu-h5/.env.local/
/eleadinedu-h5/.env.development/
/eleadinedu-h5/.env.production/
/eleadinedu-h5/build/

/eleadinedu-admin/node_modules/
/eleadinedu-admin/dist/
/eleadinedu-admin/.env.local/
/eleadinedu-admin/.env.development/
/eleadinedu-admin/.env.production/
/eleadinedu-admin/build/

**/target/
**/.git/
**/.idea/
**/.vscode/
**/*.log
